<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean name="questionDao" class="dao.QuestionDaoUnivocityImpl">
        <constructor-arg name="csvName" value="questions.csv"/>
    </bean>
    <bean name="questionReaderService" class="service.QuestionReaderServiceImpl">
        <constructor-arg name="dao" ref="questionDao"/>
    </bean>
    <bean name="consoleHandlerService" class="service.ConsoleHandlerServiceImpl">
        <constructor-arg name="questionReaderService" ref="questionReaderService"/>
    </bean>
</beans>